:root {
    --font-family-primary: 'Vollkorn', serif;
    --font-family-secondary: 'PT Sans', sans-serif;
    
    --font-size-title: 32px;
    --line-height-title: 1.4;
    --font-size-caption: 14px;
    --line-height-caption: 1.2;
    
    --color-text: #102a43;
    --color-highlight-primary: #102a43;
    --color-highlight-secondary: #B7F9E9;
    --border-radius-primary: 32px; 
  }
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @mixin mediaBig {
    @media (min-width: 576px) {
      @content;
    }
  }
  
  @include mediaBig {
    :root {
      --font-size-title: 40px;
    }  
  }
  
  .card {
    max-width: 960px;
    border-radius: var(--border-radius-primary);
    box-shadow: 24px 24px 80px rgba(255, 255, 255, 0.1);
    padding: 20px 20px 28px 20px;
    box-sizing: border-box;
    margin: 150px;
    display: flex;
    flex-direction: column;
    
    @include mediaBig {
      flex-direction: row;
      align-items: center;
      margin: 40px;
      padding: 32px;
    }
  }
  
  .card__image {
    width: 100%;
    max-height: 300px;
    border-radius: var(--border-radius-primary);
    object-fit: cover;
    margin-bottom: 18px;
    
    @include mediaBig {
      width: 45%;
      max-height: none;
      min-height: 00px;
      margin-bottom: 0;
    }
  }
  
  .card__content {
    @include mediaBig {
      width: 55%;
      padding-left: 40px;
    }
  }
  
  .card__date {
    display: block;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    color: #3f3d3d;
    margin-bottom: 6px;
    
    @include mediaBig {
      margin-bottom: 8px;
    }
  }
  
  .card__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    color: #102a43;
    box-decoration-break: clone;
    background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
    background-size: 100% 50%;
    background-repeat: no-repeat;
    background-position: 0 85%;
    padding: 0 4px;
    margin-left: -4px;
  }


  